.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #272727;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.website-logo {
  margin-bottom: 25px;
  width: 100px;
  height: 32px;
  align-self: center;
}
.user {
  color: #f8fafc;
  font-size: 20px;
  margin: 15px;
}
.input-user {
  background-color: transparent;
  color: #64748b;
  margin: 15px;
  height: 32px;
}
.button {
  height: 32px;
  margin: 15px;
}
